.header-container {
    padding: 16px;
}

.btn-edit {
    font-size: 1.4rem;
    float: right;
    font-weight: 700;
    padding: 10px 16px;
    border-radius: 25px;
    background-color: transparent;
    color: var(--white-color);
    border: 4px solid var(--blue-color);
    cursor: pointer;
    outline: none;
}

.info {
    margin-left: 12px;
    color: var(--white-color);
}

.info-avatar {
    width: 240px;
}

.info-name {

}

.info-age {

}

.info-about {

}
