:root {
    --bg-sidebar: #f3f1f2;
    --bg-item: #D7D2D6;
    --thirdText-color: #a8a4a4;
    --secondText-color: #686666;
    --text-color: #0D0D0D;
    --black-color: black;
    --white-color: white;
    --orange-color: #FF981E;
    --green-color: #33C960;
    --violet-color: #e229f0;
    --aqua-color: #11d5ef;
    --blue-color: #1575F6;
    --red-color: #FD3D30;
    --shadow-color: #cbc9c9;
}

$base-color: red;